# OpenAI Configuration
OPENAI_API_KEY=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

# Cloudflare Vectorize Configuration
CLOUDFLARE_ACCOUNT_ID=cf6b7272593636bf0e4278a6157b1d60
CLOUDFLARE_API_TOKEN=cfut_WPtSoWzElomVwbj73giIZ6AIakJMlAnWusrrX61Dcd674ce1
CLOUDFLARE_VECTORIZE_INDEX=triple_a_index
